.header {
  width: 100%;
  background: $color-primary;
  color: $color-bright;
  padding-bottom: 5rem;

  &__content {
    width: 60%;
    margin: auto;
  }

  &__logo-and-nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__logo {
    text-transform: uppercase;
    padding-top: 2.2rem;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    border-top: 4px solid $color-primary-light;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__date {
      color: $color-primary-light;
      font-size: 1.3rem;
    }

    &__nav {
      margin-top: 0.5rem;

      &--list {
        display: flex;
        list-style: none;
      }

      &--item {
        text-transform: uppercase;
        color: $color-bright;
        text-decoration: none;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          color: $color-primary-light;
        }
      }
    }
  }

  &__section {
    background: $color-primary;
    padding-bottom: 5rem;

    &__content {
      width: 60%;
      margin: auto;
    }
  }

  &__intro {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;

    &__heading {
      color: $color-primary-light;
    }

    &__text {
      font-size: 1.4rem;
    }
  }

  &__cta {
    margin-top: 3rem;
    padding: 1rem 2rem;
    font: inherit;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid $color-bright;
    border-radius: 5px;
    color: $color-bright;
    cursor: pointer;

    &:hover {
      background: $color-bright;
      color: $color-primary-light;
    }
  }
}
