.header {
  background: $dark-gray-2;
  width: 100%;
  height: 20rem;
  margin: auto;
  border-radius: 10px;

  h1 {
    font-size: 5rem;
    font-weight: 700;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  .h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__dynamic {
    padding: 2rem;
    width: 60%;

    &__container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.centered-phone {
  padding: 5rem;

  @include respond(phone) {
    text-align: center;
    padding: 5rem 1rem 1rem 1rem;
  }
}

.share {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2rem;
}
