table {
  margin-bottom: 44px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  line-height: 44px;
}

thead th {
  color: #648880;
  font-size: 24px;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}

td {
  width: 40%;
}

tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}

table a {
  color: #888;
}
a {
  color: #648880;
  text-decoration: none;
}

tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}

.schedule-offset {
  color: #a9b2b9;
}

.table-container {
  width: 80%;
  margin: auto;
}
