/* GLOBAL RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* LAYOUT HOME */
.btns-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
  margin: auto;
}

.btn {
  padding: 15px;
  width: 70px;
  text-transform: uppercase;
  border: 3px solid orangered;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background: orangered;
  border: 3px solid orangered;
  color: white;
}

/* MOCKS COMMON STYLING */
.container {
  padding: 30px;
}

.wrapper {
  margin: 20px;
  display: flex;
}

/* MOCK 1 */
.mock-1-box-pink {
  width: 400px;
  height: 130px;
  background: pink;
  margin-right: 20px;
}

.mock-1-box-blue {
  height: 130px;
  background: skyblue;
  flex-grow: 1;
}

.mock-1-box-yellow {
  height: 130px;
  background: yellow;
  flex-grow: 1;
}

/* MOCK 2 */
.mock-2-box-purple {
  background: purple;
  height: 170px;
  flex-grow: 1;
}

.mock-2-box {
  height: 400px;
  flex-grow: 1;
}

.mock-2-box:not(:last-child) {
  margin-right: 20px;
}

.mock-2-box-red {
  background: orangered;
}

.mock-2-box-green {
  background: green;
}

.mock-2-box-yellow {
  background: yellow;
}

/* MOCK 3 */
.mock-3-box-green {
  background: green;
  height: 170px;
  flex-grow: 1;
}

.mock-3-box-img {
  background: url("../../images/tree.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  flex-grow: 1;
}

.mock-3-box-img:not(:last-child) {
  margin-right: 20px;
}

.mock-3-box {
  height: 400px;
  flex-grow: 1;
}

.mock-3-box:not(:last-child) {
  margin-right: 20px;
}

.mock-3-box-yellow {
  background: yellow;
}

.mock-3-box-red {
  background: orangered;
}

.mock-3-box-blue {
  background: skyblue;
}
