.todo-list {
  width: 50%;
  margin: auto;
}

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-1 span {
  font-size: 3rem;
}

.header-2 span {
  font-size: 0.8rem;
  color: gray;
}

.todo {
  border-top: 1px solid rgb(218, 211, 211);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  display: flex;
  cursor: pointer;
}

.todo:hover {
  background: rgb(218, 211, 211);
}

.check {
}

.item {
  margin-left: 1rem;
}
