.footer {
  background: $color-primary;
  padding: 3rem 0rem;

  &__content {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__copyright {
    color: $color-primary-light;
    text-transform: capitalize;
  }

  &__nav {
    margin-top: 0.5rem;

    &--list {
      display: flex;
      list-style: none;
    }

    &--item {
      color: $color-bright;
      text-decoration: none;
      font-size: 0.9rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: $color-primary-light;
      }
    }
  }
}
