.register {
  display: flex;
  width: 80%;
  margin: auto;

  &__info {
    width: 50%;

    h2 {
      font-size: 1.5rem;
      color: $color-primary-light;
    }

    h5,
    h4 {
      font-size: 1.2rem;
    }

    h4 {
      color: $color-primary-light;
    }

    .why-attend {
      list-style: square;
      margin: 0 0 22px 30px;
    }
  }

  &__form {
    width: 30%;
    margin-left: 5rem;

    form {
      margin-bottom: 22px;
    }
    fieldset {
      border: none;
    }
    .register-group label {
      color: #648880;
      cursor: pointer;
      font-weight: 400;
    }

    .btn-default {
      border: 0;
      background: #648880;
      padding: 11px 30px;
      font-size: 14px;
    }
    .btn {
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-weight: 400;
      letter-spacing: 0.5px;
      margin: 0;
      text-transform: uppercase;
    }

    .register-group input,
    .register-group textarea {
      width: 100%;
    }

    .register-group input,
    .register-group select,
    .register-group textarea {
      border: 1px solid #c6c9cc;
      border-radius: 5px;
      color: #888;
      display: block;
      margin: 5px 0 27px;
      padding: 5px 8px;
    }
  }
}
