.lesson-link {
  background: #42444e;
  border-bottom: 1px solid #31333a;
  padding: 10px 30px 9px 30px;

  a {
    color: #9799a7;
    text-decoration: none;

    &:hover span {
      color: $color-white;
    }
  }
}

.gradient-section {
  background: linear-gradient(to right, $color-secondary, $color-bright);
  padding: 44px 0 22px;
  margin-bottom: 4rem;

  &__container {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
  }
}
